[submodule "L03/1XC3_L03"]
	path = L03/1XC3_L03
	url = https://github.com/arielm20/1XC3_L03.git
[submodule "A1/1XC3_A1"]
	path = A1/1XC3_A1
	url = https://github.com/arielm20/1XC3_A1.git
[submodule "L07/1XC3_L07"]
	path = L07/1XC3_L07
	url = https://github.com/arielm20/1XC3_L07.git
[submodule "L08/hello-github-actions"]
	path = L08/hello-github-actions
	url = https://github.com/arielm20/hello-github-actions.git
[submodule "L08/CS1XC3_L08_P3"]
	path = L08/CS1XC3_L08_P3
	url = https://github.com/arielm20/CS1XC3_L08_P3.git
